@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

/* Color Classes */

/* Text Colors */
.light-green { color: #CEF09D; }
.dark-teal { color: #1C646D; }
.nearly-black { color: #1F0802; }
.plum { color: #38184C; }
.medium-green { color: #A0CD60; }

/* Background Colors */
.light-green-bg { background-color: #CEF09D; }
.dark-teal-bg { background-color: #1C646D; }
.nearly-black-bg { background-color: #1F0802; }
.plum-bg { background-color: #38184C; }
.medium-green-bg { background-color: #A0CD60; }


img {
    height: 180px;
    border-radius: 20px;
}

nav {
    border-bottom: 5px solid #1F0802;
    border-top: 5px solid #1F0802;
    padding: 10px 0px 15px 10px;
    font-variant: small-caps;
}

a {
    color: #CEF09D;
}

.div-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 201px;
    width: 201px;
    align-content: center;
}
img:hover{
    height: 200px
}

main {
    padding: 0px 0px 0px 10px;
    margin-bottom: 70px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color:#38184C;
}

/* ol {
    width: 300px;
} */

.div-header {
    margin-top: 20px;
    padding: 10px;
    text-shadow: #CEF09D 1px 0 15px;
    font-variant: small-caps;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    border-top: 5px solid #1F0802;
    border-bottom: 5px solid #1F0802;
}

a:hover {
    color: #A0CD60;
}

a:link {
    text-decoration: none;
}

th {
    font-weight: 900;
    background-color:#38184C;
}

.recipe-list{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(auto-fill, 225px);
    grid-template-rows: auto;
    grid-column-start: 1;
    grid-column-end: auto;
    padding-bottom: 20px;
}

.recipe-list-item {
    text-align: center;
    align-content: center;
}

#big-image {
    height: 300px;
}

#step-list {
    width: max-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
